body {
    background-image: url("../assets/images/Marvel-Logo-HD-Background.png");
    background-size: cover;
    background-color: white;
    font-family: 'Ubuntu', sans-serif;
    color:#ec1d24;


}

.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ec1d24;
    color: whitesmoke;
}

#image {
    margin: auto;
    margin: 20px;

}