body {
    background-color: black;
    font-family: 'Ubuntu', sans-serif;
    color:darkred;


}

.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkred;
    color: black;
}

#image {
    margin: auto;
    margin: 20px;

}